In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\cjlon\appdata\local\programs\python\python312\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import mysql.connector as connector

In [20]:
connection = connector.connect(user = "coursera", password = "Pa55word", db = "LittleLemonDB")

In [21]:
cursor = connection.cursor()

In [25]:
task3="""
SELECT 
cust.Names, 
cust.Contacts, 
orders.TotalCost
FROM customerdetails cust
INNER JOIN orders ON cust.customerID = orders.customerID
WHERE orders.TotalCost > 60;"""

In [26]:
cursor.execute(task3)

In [27]:
results =cursor.fetchall()
print(cursor.column_names)
print(results)

('Names', 'Contacts', 'TotalCost')
[('Charlie', 'charlie@example.com', 499), ('Frank', 'frank@example.com', 295), ('Bob', 'bob@example.com', 599), ('Emily', 'emily@example.com', 199), ('John Doe', 'john.doe@example.com', 795), ('Grace', 'grace@example.com', 295), ('Jane Doe', 'jane.doe@example.com', 499), ('David', 'david@example.com', 599), ('Alice', 'alice@example.com', 199), ('Hannah', 'hannah@example.com', 795)]